.row
  .span3
    h3 Fitness
  .span9
    ul
      li Fervid interest in nutrition and callisthenic exercise
      li Played for a university five-a-side football team
      li Hardened rugby player from school to county level
