.row
  .span3
    h4 Fitness
  .span9
    ul
      li Fervid interest in nutrition and callisthenic exercise
      li Played for a university five-a-side football team
      li Hardened Rugby player at a young age
