.row
  .span3
    h4 Music
  .span9
    ul
      li Accomplished lead guitar player in nationally performing bands
      li Strong background in music production and composition
      li Grade eight guitarist, grade six music theorist, grade two pianist
