.row
  .span3
    h4 Music
  .span9
    ul
      li Accomplished lead guitar player in nationally performing bands
      li Strong background in music production and composition
      li Grade 8 guitarist, grade 6 music theorist, grade 2 pianist
