h3 Clive's Easylearn Pop Music Schools
h4 Music Tutor
aside October 2006 to September 2008

p.
  I taught guitar to both adults and children, aged seven and upwards. As well
  as one-on-one tuition, I was engaged in group-based jamming sessions,
  organising charity gigs and preparing course materials.

ul
  li Inspiring young musicians
  li Understanding students' needs
  li Session planning
  li Support and patience
