h4
  | Clive's Easylearn Pop Music Schools
  br
  | Music Tutor (Guitar Teacher, part-time)

aside.
  Oct 2006 to Sept 2008

p.
  I taught guitar to students aged eight to adult. From my proven track record
  in music performance, I organised many fun and rewarding charity events for
  the school.

ul
  li Advice and support for learners
  li Group and band activities
  li Session planning
