h3 Freelance
h4 Web development and systems engineering
aside September 2011 to July 2013

p.
  Recent projects include revamping the entire IT infrastructure of a world
  market leader in the aviation dismantling industry, web development for
  recurring clients in the corporate, NGO and education sectors and systems
  administration in a managed virtualised environment for an internet startup.

ul
  li Aligning creative campaigns to business goals
  li Maintaining worldwide client relationships
  li Daily negotiation, scheduling and accounting experience
  li Autonomous work and meticulous attention to detail
