h3 onarray
h4 CEO/Founder
aside July 2013 to Present

p.
  I founded onarray to take my freelancing work to the next level. Within a
  month, I have successfully negotiated a recurring contract with an
  international non-profit. Whilst strengthening my consulting portfolio, I am
  concurrently building relationships with other entrepreneurs, with the aim to
  develop a software as a service product.

ul
  li Experience incorporating and running a limited company
  li Maintaining worldwide client relationships
  li Aligning creative campaigns to business goals
  li Daily negotiation, scheduling and accounting experience
