h3 Swinton Insurance
h4 IT (Full time, temporary work)
aside November 2007 to February 2008

p.
  In a more corporate environment, I was involved in dealing with large volumes
  of customer details through maintaining a database, using bespoke insurance
  software (OpenGI and SwinPak).

ul
  li Windows CE and Red Hat Powerterminal experience
  li Telephone manner and skills
  li Filing report schedules efficiently
