h4 University of Kent
h5 Web Developer (Part-time)
aside Jan 2009 to May 2010

p.
  As part of small but highly motivated team, I actively maintained and improved
  core back-end systems to the high standards required by a broad and demanding
  customer base.

ul
  li Support duties for existing clients
  li Design work using Adobe Photoshop and Dreamweaver
  li Training web publishers
  li Working as part of a team using help desk software, version control, wiki
