.row
  .span3
    h3 Training
  .span9
    ul
      li Amazon Web Services (Hong Kong)
      li Understanding Equity Derivatives
      li Pro Visual C++/CLI and the .NET 3.5 platform
      li Gloucester Media Group sound engineering programme
      li Health & Safety in the Workplace
