h4
  | University of Kent
  br
  | BSc (Hons) Computer Science with Artificial Intelligence:
  i  Distinction
  |  (predicted)

aside Sept 2008 to Present

p.
  My course has provided me with a wealth of new knowledge. I have studied the
  Java programming language, worked in software engineering teams and have
  gained a passion for usability and interaction design. *Above all*, I have
  learnt how to learn.

p.
  Object-Oriented Programming (Java), Interaction Design, Philosophy of AI,
  Philosophy of Science, Distributed Systems and Neural Networks, Functional
  Programming, Concurrency Design and Practice (Occam-pi), Intelligent Systems,
  Information Systems, (Mathematical) Foundations of Computing, Operating
  Systems and Architectures, Algorithms and Complexity
