h3 Access to Music
h4 Music Practitioner Level 3 Diploma:
  i Distinction
aside September 2006 to July 2007

p.
  Live Music Performance, Recording Skills, Music Marketing, Composition, Sound
  Re-enforcement, Communicating Music
