h3 University of Kent
h4 BSc Computer Science with Artificial Intelligence:
  i First
aside Sept 2008 to July 2012

p.
  My course has provided me with a wealth of new knowledge. I've studied Java,
  worked in software engineering teams and have gained a passion for usability
  and interaction design.

p
  i Above all
  | , I have learnt how to learn.

p.
  Key modules:
  Object-Oriented Programming (Java), Philosophy of Science, Intelligent
  Systems, Neural Networks, Concurrency (Occam-pi), Data Mining
