h4
  | Clive's Easylearn Pop Music Schools
  br
  | Music Tutor (Guitar Teacher, part-time)

aside.
  Oct 2006 to Sept 2008

p.
  I taught Guitar to students aged 8 to adult from a vast and structured
  syllabus. From my proven track record in music performance, I organised many
  fun and rewarding charity events for the school.

ul
  li Group and band activities
  li Advice and support for learners
  li Session planning
