h4
  | English Heritage 
  br
  | Web Designer (Online Communications Assistant)

aside.
  April 2008 to Sept 2008

p.
  As I gained experience in functional interfaces, I was delegated
  responsibility to improve site interaction through simple, usable and
  accessible design.

ul
 li Developed editorial skills and cross linking to enhance user experience
 li Used SEO and Google Analytics to optimise the site for search engines
 li Created web-banners, critical decisions on typeface and graphic design
 li Design and editorial on regular HTML email newsletters
 li Major role in complete site redesign and adoption of a CMS
