h4
  | HSBC Hong Kong
  br
  | IT Student Trainee
  
aside.
  Aug 2010 to Aug 2011 

p.
  As part of the Technology and Services division during a life-changing year, I
  developed enterprise level software projects in a fast-paced, highly rewarding
  environment.

ul
  li Part of a team that introduced new ETF funds to greater Asia
  li Frequent interaction with the trading floor
  li Adaption to an unfamiliar industry
  li Living independently in a foreign country
