h4 Music
.span9
  ul
    li Accomplished lead guitar player in nationally performing bands
    li Composing, mixing, recording and producing music
    li Guitar grade 8, piano grade 2, music theory grade 6
